@import "tailwindcss";

/* CUSTOM THEME */
@theme{
  --color-primary: #61B9EF;
  --color-secondary: #D7F4F4;

  --font-radlush: "Radlush", sans-serif;

  /* FONT SIZES */

  --text-hero: 157px;
  --leading-hero: 1;
}



/* LIGHT THEME */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* GLOBAL STYLES */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-radlush);
}
.font-radlush {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
