@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* THEME TOKENS ONLY */
@theme {
  --color-brand: #acdffd;
  --color-brand-secondary: #d7f4f4;

  --text-hero: 157px;
  --leading-hero: 1;
}

:root {
  --app-height: 100svh;
  --accent-shadow: rgba(20, 247, 251, 0.913);
}

* {
  min-width: 0;
}

/* GLOBAL BASE STYLES */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  font-family: var(--font-radlush), system-ui, sans-serif;
}

/* UTILITIES */
.showreel-blur {
  filter: blur(6px) brightness(0.9);
  transition: filter 350ms ease;
}




/* navlinks animations */
.nav-text {
  position: relative;
  display: inline-block;
  height: 1em;
  overflow: hidden;
}

.nav-text-inner {
  display: block;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text-front,
.nav-text-back {
  display: block;
  line-height: 1em;
}

.nav-text-back {
  transform: translateY(100%);
  opacity: 0;
}

.nav-link:hover .nav-text-inner,
.nav-link.is-active .nav-text-inner {
  transform: translateY(-100%);
}

.nav-link:hover .nav-text-back,
.nav-link.is-active .nav-text-back {
  opacity: 1;
}


/* text-stroke */

.text-stroke-white {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  /* fallback */
}

.word {
  display: inline-block;
}

.char {
  display: inline-block;
  will-change: transform;
}

body {
  cursor: none;
}


*,
*::before,
*::after {
  cursor: none !important;
}